<div id="tweet0" class="col s12 m6 l8" style="width: 70%;">
  <div class="card-panel white tweet" style="
    padding-left: 0px;
    padding-right: 0px;
    padding-top: 0px;
    padding-bottom: 0px;
  ">
    <ul class="collection">
      <li class="collection-item avatar white lighten-4">
        <img src="../resources/images/dog.jpg" class="circle">
        <span class="title"><b>Doge Dogeson</b>@WowSoPunny</span>
        <p>Welcome to Leafer! Have fun using the app!<br/><br/>
          <table class="info">
            <tbody>
              <tr>
                <td>
                  <a href="#">
                    <span class="glyphicon glyphicon-share-alt blue-grey-text text-darken-4" aria-hidden="true"></span>
                  </a>
                </td>
                <td>
                  <a href="#">
                    <span class="glyphicon glyphicon-refresh blue-grey-text text-darken-4" aria-hidden="true"></span>
                  </a>
                </td>
                <td>
                  <a href="#">
                    <span class="glyphicon glyphicon-heart blue-grey-text text-darken-4" aria-hidden="true"></span>
                  </a>
                </td>
                <td>
                  <a href="#">
                    <span class="glyphicon glyphicon-option-horizontal blue-grey-text text-darken-4" aria-hidden="true"></span>
                  </a>
                </td>
              </tr>
            </tbody>
          </table>
        </p>
      </li>
    </ul>
  </div>
